body{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 3px solid black;
    background: #eee;
    cursor: crosshair;
    
    transition: all 0.5s linear;
    
}